@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0F1035;
    color: #fff;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust as needed */
    image-rendering: smooth;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.CName p {
    font-size: 3rem;
}

.hero {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    background-color: #365486;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Flex direction to row */
}

.hero .hero-info {
    width: 50%; /* Adjust as needed */
    text-align: center;
}

.hero .hero-info .hero-info-heading {
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
    
}

.hero .hero-info .hero-info-subheading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
    margin-left: 50px;
}

.hero .hero-info .hero-info-button {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: #333;
}

.benefits{
    font-size: 5rem;
    font-weight: 500;
    color: black;
    background-color: #6EABBB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.und-ben{
    width: auto;
    background-color: #6EABBB;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.bf-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color: #6EABBB;
    
}

.bf-flex-container > div {
    background-color: #8BC6C3;
    width: 300px;
    height: 350px;
    margin: 30px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.bf-flex-container > h1{
    background-color: transparent;
    text-align: center; 

}

.Discover{
    font-size: 3rem;
    font-weight: 500;
    color: #DCF2F1;
    background-color: #365486;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding-top: 10px;
}

.about-container-mid{
    background-color: #365486;
}

.about-container-mid > div{
    width: auto;
    color: #DCF2F1;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.videos-and-images {
    width: auto;
    color: #DCF2F1;
}

.images-container {
    
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px ;
}

.images-container img {
    width: auto;
    height: auto;
}

.services{
    font-size: 5rem;
    font-weight: 500;
    color: black;
    background-color: #6EABBB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.Op-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color: #6EABBB;
    
}
  
  .Op-flex-container > div {
    background-color: #8BC6C3;
    width: 300px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }

ul{
    padding-left: 35px;
  }

li{
    text-align: left;
  }

.id-about-container {
    max-width: auto ;
    margin: 0 auto;
    padding: 2rem;
    background-color: #365486;
    display: flex;
    flex-direction: column;
}

.ideals {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
}

.id-about-container > div{
    width: auto;
    color: #DCF2F1;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

.team{
    font-size: 5rem;
    font-weight: 500;
    color: black;
    background-color: #6EABBB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.fl-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color: #6EABBB; 
  }

  .fl-flex-container > div2 {
    background-color: #7FC7D9;
    width: 300px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
    
  p.padding_left{background-color: transparent;
    text-align: left;
    padding-left: 80px;
    }
    
  h1.padding_bottom{
  padding-bottom: 40px;
  padding-top: 80px;
  }

  .flip-card-back > p{padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }


  footer {
    background-color: #365486;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}


.fMenuTitle {
    margin-bottom: 10px;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 30px;
    margin-right: 10px;
}

.flip-card-front > img{

    border-radius: 10px;
}
ul {
    list-style-type: disc;
}